.main table {
  margin: auto;
  width: 100%;
}

.main table thead tr {
  vertical-align: top;
}

.buyBtn {
  background-color: #ff6e33;
  color: white;
  margin-right: 1em;
  margin-bottom: 1em;
}

.modalContent {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: papayawhip;
}

.modalOverlay {
  background-color: white;
  z-index: 1000 !important;
  position: fixed;
  inset: 0px;
}

body.modal-open {
  overflow: hidden; /* Prevent scrolling */
}

.productDetails {
  width: 100%;
  text-align: left;
  background-color: rgb(224, 224, 224);
  transition: max-height 0.5s ease-out;
  background: #e5feff;
  overflow: hidden;
  max-height: 0;
}

.tb-expand {
  max-height: 120px;
  transition: max-height 0.5s ease-in;
}

.select-none {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 0.25rem;
}

.rounded {
  border-radius: 0.25rem;
}

.border {
  border-width: 1px;
}

.p-1 {
  padding: 0.25rem;
}
